<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biografia de Charles Babbage</title>
  </head>
  <body>
    <h1>Charles Babbage</h1>
    <a href="/">Volver al Home</a>

    <p>
      (Teignmouth, 1792 - Londres, 1871) Matemático e ingeniero británico,
      inventor de las máquinas calculadoras programables. A comienzos del siglo
      XIX, bien avanzada la Revolución Industrial, los errores en los datos
      matemáticos tenían graves consecuencias: por ejemplo, una tabla de
      navegación defectuosa era una causa frecuente de los naufragios. Charles
      Babbage creyó que una máquina podía hacer cálculos matemáticos más rápidos
      y más precisos que las personas.
    </p>
    <img
      src="foto1.jpg"
      width="300"
      alt="Padre de la computación analítica"
    />
  </body>
</html>
