<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biografia de Tim Berners-Lee</title>
  </head>
  <body>
    <h1>Tim Berners-Lee</h1>
    <a href="/">Volver al Home</a>
    <p>
      Sir Timothy John Berners-Lee OM KBE FRS FREng FRSA FBCS (nacido el 8 de
      junio de 1955), también conocido como TimBL , es un informático inglés
      mejor conocido como el inventor de la World Wide Web . Es catedrático de
      Ciencias de la Computación en la Universidad de Oxford [2] y profesor en
      el Instituto Tecnológico de Massachusetts. ] Berners-Lee propuso un
      sistema de gestión de la información el 12 de marzo de 1989, luego
      implementó la primera comunicación exitosa entre unCliente y servidor del
      Protocolo de transferencia de hipertexto (HTTP) a través de Internet a
      mediados de noviembre.
    </p>
    <img width="300"
      src="foto2.jpg"
      alt="Es un científico de la computación británico, conocido por ser el padre de la World Wide Web."
    />
  </body>
</html>
