<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biografía de Margaret Hamilton</title>
  </head>
  <body>
    <h1>Margaret Hamilton</h1>
    <a href="/">Volver al Home</a>
    <p>
      Fue directora de la División de Ingeniería de Software del Laboratorio de
      Instrumentación del MIT,1​ donde con su equipo desarrolló el software de
      navegación "on-board" para el Programa Espacial Apolo.2​3​4​ En 1986, se
      convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en
      Cambridge, Massachusetts. La compañía se desarrolló alrededor del lenguaje
      universal de sistemas basada en su paradigma de "desarrollo antes del
      hecho" (DBTF, del inglés Development Before the Fact) para sistemas de
      diseño de software.5​ Acuñó el término «ingeniería de software» para
      distinguir entre el trabajo de hardware y otras ingenierías. A pesar de
      que su idea no fue bien recibida al inicio, eventualmente el software
      generó el mismo respeto que otras disciplinas.
    </p>

    <img width="300" src="foto4.png" alt="primera_ingeniera_en_software" />
  </body>
</html>
