<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Heroínas y Héroes Tecnológicos</h1>
    <p>
      Aunque entre los desarrolladores abunden los hombres, las damas no se
      quedan atrás. De hecho, muchas mujeres han logrado hitos que marcaron un
      antes y un después en la historia de la programación. En el Día
      Internacional de la Mujer, presentamos el perfil de algunas de estas
      heroínas internacionales y argentinas.
    </p>
    <img src="foto8.jpg" width="630" height="341" alt="">
    <img src="foto9.jpg" width="675" height="341"alt="">
  </body>
</html>
