<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biografía de Ada Lovelace</title>
  </head>
  <body>
    <h1>Ada Lovelace</h1>
    <a href="/">Volver al Home</a>
    <p>
      Nacida en 1815 en Londres, Inglaterra, es la creadora del primer programa
      informático de la historia. De ahí que se la conoce como la “madre de la
      computación”. De esta manera, una mujer fue la precursora en la creación
      de algoritmos para que sean procesados por una máquina.
    </p>
    <img src="fot6.jpg" width="300" alt="Ella fue la primera programadora de la historia"
    />
  </body>
</html>
